---
import Layout from '../layouts/Layout.astro';
import Aboutus from '@/sections/Aboutus.astro';
import Tequilas from '@/sections/Tequilas.astro';
import Where from '@/sections/Where.astro';
import Contact from '@/sections/Contact.astro';
import Start from '@/sections/Start.astro';
import Home from '@/sections/Home.astro';
import Aboutus2 from '@/sections/Aboutus2.astro';
import Master from '@/sections/Master.astro';
---

<Layout title="Amatiteña">
  <Start />
  <!-- <Header /> -->
  <main>
    <Home />
    <Aboutus />
    <Aboutus2 />
    <Tequilas />
    <Master />
    <Where />
    <Contact />
  </main>
</Layout>

<style></style>
