---
import Scroll from '@/components/Scroll.astro';
import Agave from '@/components/icons/Agave.astro';
---

<section
  class="relative w-fvw h-fvh flex flex-col items-center justify-center text-text"
  id="about-us1"
>
  <div class="lg:grid grid-cols-2 h-fvh w-full">
    <div class="grid grid-rows-[auto_1fr]">
      <div
        class="h-[52.5vh] bg-[#A4C7D6] w-full mt-[calc(5.78vw+2rem)] text-white flex items-center justify-center"
      >
        <Agave class="size-[8.06vw]" />
      </div>
      <div class="h-full flex items-center justify-center">
        <img src="/img/nom.svg" alt="Nom" class="h-auto w-[16.66vw]" />
      </div>
    </div>
    <div
      class="bg-[#EEECE2] lg:h-[100vh] flex items-center justify-center lg:px-[4.55vw] lg:pt-[5vw]"
    >
      <p class="lg:text-[2.5vw] leading-[3.3vw]">
        Amatiteña is produced by <br /> N0M 1477. Our brand is <br /> inspired by
        Amatitán, which <br /> means a small village of <br /> Amates, where the
        cultivation <br /> of agave has been practiced <br /> since the 18th century,
        due to <br /> its long-standing tradition in <br /> cultivating blue agave
        for the <br /> production of the spirited <br /> beverage known today as
        <br />
        <span class="italic">Tequila.</span>
      </p>
    </div>
  </div>
  <Scroll
    id="next"
    href="#tequilas"
    className="bottom-20 lg:bottom-16 hidden"
  />
  <Scroll id="prev" href="#about-us" className="top-24 hidden" />
</section>
<script>
  const section = document.getElementById('about-us1') as HTMLElement;
  const prev = section?.querySelector('.prev') as HTMLAnchorElement;
  const next = section?.querySelector('.next') as HTMLAnchorElement;
  section.addEventListener('wheel', (e) => {
    if (e.deltaY < 0) {
      prev?.click();
    } else {
      next?.click();
    }
  });
  //@ts-ignore
  const mc = new Hammer(section);
  //@ts-ignore
  mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });
  mc.on('panup pandown', (e: any) => {
    // console.log(e.deltaY);
    if (e.deltaY > 0) {
      prev?.click();
    } else {
      next?.click();
    }
  });
</script>
