---
import Scroll from '@/components/Scroll.astro';
import Down from '@/components/icons/Down.astro';
import Mouse from '@/components/icons/Mouse.astro';
---

<section
  class="Home relative bg-bgGris w-full h-[100vh] flex flex-col justify-center items-center text-white text-center"
  id="Start"
>
  <h1
    class="text-center text-2xl md:text-[3.59375vw] tracking-[2px] md:racking-[5px] md:leading-[4.27vw] mb-8 md:mb-[4.21vw]"
  >
    SELECTION, QUALITY <br />& EXCLUSIVITY
  </h1>
  <span>are the</span>
  <span>Key to</span>
  <h2>Amatiteña</h2>
  <Scroll id="next" href="#Home" className="bottom-20 lg:bottom-16" />
</section>
<style lang="scss">
  .Home {
    span,
    h2 {
      @apply text-xl md:text-[1.789vw] leading-[1em] tracking-[2px] md:tracking-[3px];
    }
    span {
      @apply mb-4 md:mb-[1.56vw];
    }
    h2 {
      @apply uppercase;
    }
  }
</style>
<script>
  const section = document.getElementById('Start') as HTMLElement;
  const prev = section?.querySelector('.prev') as HTMLAnchorElement;
  const next = section?.querySelector('.next') as HTMLAnchorElement;
  section.addEventListener('wheel', (e) => {
    if (e.deltaY < 0) {
      prev?.click();
    } else {
      next?.click();
    }
  });

  //@ts-ignore
  const mc = new Hammer(section);
  //@ts-ignore
  mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });
  mc.on('panup pandown', (e: any) => {
    // console.log(e.deltaY);
    if (e.deltaY < 0) {
      prev?.click();
    } else {
      next?.click();
    }
  });
</script>
