@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/Baskerville.woff2') format('woff2'),
    url('/fonts/Baskerville.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
