---
// import '@/scss/styles.scss';
import ToTop from '@/components/ToTop.astro';
import 'hamburgers/dist/hamburgers.min.css';
import 'hamburgers/dist/hamburgers.min.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A truly artisanal work, produced with tradition.
From the tahona to your home table, enjoying
Amatitena goes beyond the palate."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-main bg-bgWhite">
    <slot />
    <ToTop />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Baskerville';
    src:
      url('/fonts/Baskerville.woff2') format('woff2'),
      url('/fonts/Baskerville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Agenda';
    src:
      url('/fonts/Agenda-Light.woff2') format('woff2'),
      url('/fonts/Agenda-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  :root {
    scroll-behavior: smooth;
  }
  body {
    overflow: hidden;
  }
</style>
<script is:inline src="/js/hammer.js"></script>
<script>
  import AOS from 'aos';
  const screenHeight = window.innerHeight;
  const header = document.getElementById('Header') as HTMLElement;
  const toTop = document.getElementById('to-top') as HTMLAnchorElement;
  if (window.scrollY >= screenHeight) {
    header.classList.add('sticky');
  }
  if (window.scrollY >= screenHeight * 2) {
    header.classList.add('bg');
    toTop.classList.add('show');
  }
  AOS.init();
</script>
